@inherits LayoutComponentBase

<div class="page-horizontal d-flex flex-column h-100">
    <NavMenu />

    <main style="flex-grow: 1; min-height: 100vh; background-color: var(--color-crema);">
        <article class="content px-4 py-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" style="display: none;">
    Ha ocurrido un error no controlado.
    <a href="" class="reload">Recargar</a>
    <a class="dismiss">🗙</a>
</div>